/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Bungee+Shade|Poiret+One');

/* Global App */
.App {
  text-align: center;
}

button:focus {outline:0;}


/* Landing Banner */
.App__view-cart-wrapper {
  position: absolute;
  top:3%;
  right: 2%;
}

.App__view-cart {
  font-size: 25px;
  background: none;
  cursor: pointer;
  color: white;
}


.landing-title{
  border-radius: 5px;
  position: absolute;
  top: 3%;
  left: 2%;
  font-family: 'Bungee Shade', cursive;
  color: white;
  font-size: 2,1vw; 
}


.header-concept{
  font-family: 'Bungee Shade', cursive;
  font-size: 1.7vw; 
  position: absolute;
  top:5%;
  right: 25%;
  color: white;
}

.header-concept:hover{
  font-size:  2vw; 
  color: white;
}

.header-matchs{
  position: absolute;
  top:5%;
  right: 10%;
  font-size: 1.7vw; 
  font-family: 'Bungee Shade', cursive;
  color: white;
}

.header-matchs:hover{
  font-size: 2vw;
  color: white;
}

@media only screen and (max-width: 600px) {
  .landing-title{
    position: absolute;
    top: 5%;
    font-size: 7vw;
  }
  .header-matchs, .header-concept  {
      display: none;
  }
  .header-concept{
    position: absolute;
    right: 40%;
  }
}

.landing-banner{
  height: 60vh;
  width: 100%;
  background-image: url('https://res.cloudinary.com/do6dm58us/image/upload/f_auto,w_1280/soirees_foot_potes.jpg');
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: 50% 1%;
}

 /* Concept */

 #concept{
  font-size: 136%; 
  font-family: 'Bungee Shade', cursive;
  color: black;
   width: 100%;
   margin-top: 4%;
   margin-bottom: 4%; 
 }

 .concept-title{
   width: 100%;
   text-align: center;
   margin-bottom: 2%;
 }

/*  .explication{
   margin-left: 73px;
   margin-right: 73px;
 } */

 .icons div{
  text-align: center;
 }

 .icons{
   width: 100%;
 }

 .icons p{
  font-family: 'Poiret One', cursive;
  font-weight: 600;
  margin-left: 40px;
  margin-right: 40px;
 }

/* Cards Container */


/* Cards */

#matchs{
  width: 100%;
}

.matchs-title{
  width: 100%;
  text-align: center;
  font-family: 'Bungee Shade', cursive;
  color: black;
}

.card {
  height:200px;
  width: 100%;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.card:hover {
  color: white;
  font-family: 'Poiret One', cursive; 
  content: 'Réservez votre télé pour ce match !';
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

}

.img-top{
  position: absolute; 
  top: 9px;
  right: 8%;
  width: 80%;
  height: 40%;
  background-image: url('https://res.cloudinary.com/do6dm58us/image/upload/v1528388404/soirees_foot_coupe_du_monde_russie.jpg');
  background-size: 100% ; 
  background-repeat: no-repeat;
  background-position: 30% 55%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 3px;
}

#teams{
  position: absolute;
  top: 55%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 96.5%;
  font-size: 22px;
  text-align: center;
  font-family: 'Poiret One', cursive;
  color: black; 
  padding-right: 5px;
}

.img-team{
  height: 40px;
}
.date{
  width: 57%;
  text-align: center;
  position: absolute;
  bottom: -27px;
  left: 23%;
  height: 44px;
}

.date p {
  margin: 0px;
  font-family: 'Poiret One', cursive;
}

.button-bottom{
  font-family: 'Poiret One', cursive;
  font-size:15px; 
  color: white;
  display:inline-block;
  padding:0.3em 1.2em;
  background-color:#006633;
  text-align:center;
  position: absolute;
  bottom: 5px;
  height: 15%;
  width: 54%;
  margin-left: 23%;
}

button{
  text-decoration: none;
  background:none;
  border:none;
}

.hidden{
  visibility: hidden;
}
/* Cart */



  .Cart {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 350px;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-left: 1px solid #e5e5e5;
    transform: translateX(100%);
    transition: transform 0.15s ease-in-out;
  }
  
  .Cart--open {
    transform: translateX(0);
  }
  
  .Cart__close {
    position: absolute;
    right: 9px;
    top: 8px;
    font-size: 35px;
    color: #999;
    border: none;
    background: transparent;
    transition: transform 100ms ease;
    cursor: pointer;
  }
  
  .Cart__header {
    font-family: 'Bungee Shade', cursive;
    color: black;
    padding: 20px;
    border-bottom: 1px solid #e5e5e5;
    flex: 0 0 auto;
    display: inline-block;
  }
  
  .Cart__line-items {
    flex: 1 0 auto;
    margin: 0;
    padding: 20px;
  }
  
  .Cart__footer {
    font-family: 'Poiret One', cursive;
    font-weight: 600;
    color: black;
    padding: 20px;
    border-top: 1px solid #e5e5e5;
    flex: 0 0 auto;
  }
  
  .Cart__checkout {
    border: solid 1px grey;
    font-weight: 600;
    margin-top: 20px;
    display: block;
    width: 100%;
  }
  
  .Cart-info {
    padding: 15px 20px 10px;
  }
  
  .Cart-info__total {
    float: left;
    text-transform: uppercase;
  }
  
  .Cart-info__small {
    font-size: 11px;
  }
  
  .Cart-info__pricing {
    float: right;
  }
  
  .pricing {
    margin-left: 5px;
    font-size: 16px;
    color: black;
  }
  
  /* LINE ITEMS
   * ============================== */
  .Line-item {
    margin-bottom: 20px;
    overflow: hidden;
    backface-visibility: visible;
    min-height: 65px;
    position: relative;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
  }
  
  .Line-item__img {
    width: 55px;
    height: 55px;
    border-radius: 3px;
    background-image: url('http://res.cloudinary.com/do6dm58us/image/upload/c_scale,w_159/v1528490944/soireesfoot_livraison_projecteur.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
  }
  
  .Line-item__content {
    width: 100%;
    padding-left: 75px;
  }
  
  .Line-item__content-row {
    margin-bottom: 5px;
    position: relative;
  }
  
  .Line-item__variant-title {
    font-size: 11px;
    line-height: 17px;
    color: #767676;
  }
  
  .Line-item__title {
    font-family: 'Poiret One', cursive;
    font-weight: 600;
    color: #4E5665;
    font-size: 15px;
  }
  
  .Line-item__price {
    font-family: 'Poiret One', cursive;
    font-weight: 600;
    line-height: 23px;
    float: right;
    font-weight: bold;
    font-size: 15px;
    margin-right: 40px;
  }
  
  .Line-item__remove {
    position: absolute;
    right: 0;
    top: 0;
    border: 0;
    background: 0;
    font-size: 20px;
    top: -4px;
    opacity: 0.5;
  }
  
  .Line-item__remove:hover {
    opacity: 1;
    cursor: pointer;
  }